<!-- Main Content -->
<div class="section">
  <div class="section-header">
    <h1>Profile Update</h1>

  </div>
</div>
<div class="row justify-content-center">
  <div class="col-md-12">
    <div class="card-body bg-white rounded-4 shadow">
      <!-- <form id="profile_form" action="/admin/updateProfile" method="POST" enctype="multipart/form-data"> -->
        <form id="profile_form" action="/admin/updateProfile" method="POST" enctype="multipart/form-data">
        <div class="form-group">
          <label>Name</label>
          <input type="text" name="name" value="<%= adminData.name%>" onkeydown="return /[a-z]/i.test(event.key)"
            class="form-control noSpace" placeholder="Please Enter Name" />
          <input type="hidden" name="id" value="<%= adminData.id%>" />
        </div>
        <div class="form-group">
          <label>Email</label>
          <input type="email" name="email" disabled placeholder="Please Enter Email" value="<%= adminData.email%>"
            class="form-control noSpace" />
        </div>
        <div class="form-group">
          <label>Mobile</label>
          <input id="mobile" name="mobile" type="tel" placeholder="Please Enter Mobile no."
            value="<%= adminData.mobile%>" class="form-control noSpace" />
        </div>

        <!-- <div class="form-group">
          <label>Gender</label>

          <select name="gender" class="form-control">
         
            <option value="1" <%=adminData.gender=="false" ? selected : "" %>>Male</option>
            <option value="0" <%=adminData.gender=="true" ? selected : "" %>>Female</option>
          </select>
        </div> -->

        <div class="form-group">
          <label>Image</label>
          <input type="file" accept="image/png, image/jpeg" name="image" class="form-control noSpace" />
        </div>
        <!-- <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control" />
          </div> -->
        <button type="submit" class="btn btn-icon icon-left btn-success">
          <i class="fas fa-check"></i> Update
        </button>
        <!-- <div class="btn btn-icon icon-left ml-5">
          <a href="/admin/changePassword" class="btn btn-info">Change Password</a>
        </div> -->
      </form>
    </div>
  </div>
</div>


<!-- main content End -->
<script>
  function validateProfileForm() {
    $("#profile_form").validate({
      rules: {
        name: {
          name: true,
          required: true,
          normalizer: function (value) {
            // Update the value of the element
            this.value = $.trim(value);
            // Use the trimmed value for validation
            return this.value;
          },
        },
        email: {
          required: true,
        },
        mobile: {
          maxlength: 10,
          normalizer: function (value) {
            // Update the value of the element
            this.value = $.trim(value);
            // Use the trimmed value for validation
            return this.value;
          },
          required: true,
        },
        gender: {
          required: true,
        },

      },
      messages: {
        name: {
          required: "Please enter name",
        },
        email: {
          required: "Please enter email",
        },
        mobile: {
          required: "Please enter Mobile",
        },
        gender: {
          required: "Please enter Gender",
        },


      },
      // submitHandler: function (form) {},
    });
  }

  $(document).ready(function () {
    validateProfileForm();
  });
</script>

<script>
  $("#mobile").keypress(function (e) {
    var arr = [];
    var kk = e.which;

    for (i = 48; i < 58; i++) arr.push(i);

    if (!(arr.indexOf(kk) >= 0)) e.preventDefault();
  });
</script>